{% load static %}
<style>
  /* Toast container */
  #toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    max-width: 100%;
  }

  /* Toast styling */
  .toast {
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #d1d5db; /* Neutral light border */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    max-width: 100%;
    overflow: hidden;
    animation: fadeInUp 0.3s ease;
  }

  /* Toast header */
  .toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #fdfeff;
    color: #000000;
    font-size: 16px;
    border-bottom: 1px solid #669ae6;
  }

  .toast-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .toast-header strong {
    flex-grow: 1;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .toast-header button {
    background: none;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
  }

  /* Toast body */
  .toast-body {
    padding: 16px;
    font-size: 14px;
    color: #333333;
    max-height: 200px;
    overflow-y: auto;
    line-height: 1.5;
  }

  /* Animation */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

</style>


<div id="toast-container" aria-live="polite" aria-atomic="true">
  <!-- Toasts will be dynamically inserted here -->
</div>

{% if messages %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    {% for message in messages %}
      const toastHTML = `
      <div class="toast">
        <div class="toast-header">
          <img src="{% static 'img/icon.png' %}" alt="logo">
          <strong>Fire App</strong>
          <button aria-label="Close">&times;</button>
        </div>
        <div class="toast-body">
          {{ message|escapejs }}
        </div>
      </div>`;

      const toastContainer = document.getElementById('toast-container');
      toastContainer.insertAdjacentHTML('beforeend', toastHTML);

      const toastElement = toastContainer.lastElementChild;
      const closeButton = toastElement.querySelector('button');
      closeButton.addEventListener('click', () => {
        toastElement.classList.add('fade-out');
        setTimeout(() => toastElement.remove(), 300);
      });

      setTimeout(() => {
        if (toastElement.parentElement) {
          toastElement.classList.add('fade-out');
          setTimeout(() => toastElement.remove(), 300);
        }
      }, 3000);
    {% endfor %}
  });

</script>
{% endif %}